<%= form_tag companies_path do %>
  <label>Company Name:</label><br>
  <%= text_field_tag :'company[name]' %><br>
  <label>Company Password:</label><br>
  <%= text_field_tag :'company[password]' %><br>
  <%= submit_tag "Login" %>
<% end %>
