<h1><%= @company.name %></h1>

<h3><%= @company.motto %></h3>

<h2>Projects: </h2>
<% @company.projects.each do |project| %>
<p id="companies-project-list">
</p>
<% end %>

<h2>Workers: </h2>
<% @company.workers.each do |worker| %>
<p id="companies-worker-list">
</p>
<% end %>
<%= render 'workers/footer' %>
