<h1>All Workers</h1>

<% Company.all.each do |company| %>
	<h3><%= company.name %></h3>
	<% company.workers.each do |worker| %>
		<ul>
			<li>
				<%= link_to worker.name, company_worker_path(worker.company_id, worker), :class => "workers"%></a>: <%= worker.position %>
			</li>
		</ul>
	<% end%><br>
<% end %>

<%= render 'footer' %>