<%= form_tag workers_path do %>
  <label>Worker Name:</label><br>
  <%= text_field_tag :'worker[name]' %><br>
  <label>Worker Position:</label><br>
  <%= text_field_tag :'worker[position]' %><br>

  <%= submit_tag "Create Worker" %>
<% end %>
